In [ ]:
import pandas as pd
# reading
url = "https://drive.google.com/file/d/1xN6hNR23Yi5AQ-XAlFiPCSzIibMtnNOV/view?usp=sharing"#Earlier removed 22 values from SalePrice, 5 red columns
path = 'https://drive.google.com/uc?export=download&id='+url.split('/')[-2]
traindata =  pd.read_csv(path)
traindata.shape
traindata.drop(['Id','Condition2','SaleType','Heating','RoofMatl','Street'],inplace=True,axis=1)#Totally 11 columns, 22 rows are removed
traindata.info()
type(traindata)
traindata.shape

import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split#Do not forget to split later
X = traindata.drop(columns=['SalePrice'])
y = traindata['SalePrice']
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1438 entries, 0 to 1437
Data columns (total 70 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   MSSubClass     1438 non-null   int64
 1   MSZoning       1438 non-null   object
 2   LotFrontage    1181 non-null   float64
 3   LotArea        1438 non-null   int64
 4   Alley          91 non-null     object
 5   LotShape       1438 non-null   object
 6   LandContour    1438 non-null   object
 7   LotConfig      1438 non-null   object
 8   LandSlope      1438 non-null   object
 9   Neighborhood   1438 non-null   object
 10  Condition1     1438 non-null   object
 11  BldgType       1438 non-null   object
 12  HouseStyle     1438 non-null   object
 13  OverallQual    1438 non-null   int64
 14  OverallCond    1438 non-null   int64
 15  YearBuilt      1438 non-null   int64
 16  YearRemodAdd   1438 non-null   int64
 17  RoofStyle      1438 non-null   object
 18  Exterior1st    1438 non-null   object
 19  Exterior2nd    1438 non-null   object
 20  MasVnrType     1431 non-null   object
 21  MasVnrArea     1431 non-null   float64
 22  ExterQual      1438 non-null   object
 23  ExterCond      1438 non-null   object
 24  Foundation     1438 non-null   object
 25  BsmtQual       1401 non-null   object
 26  BsmtCond       1401 non-null   object
 27  BsmtExposure   1400 non-null   object
 28  BsmtFinType1   1401 non-null   object
 29  BsmtFinSF1     1438 non-null   int64
 30  BsmtFinType2   1400 non-null   object
 31  BsmtUnfSF      1438 non-null   int64
 32  TotalBsmtSF    1438 non-null   int64
 33  HeatingQC      1438 non-null   object
 34  CentralAir     1438 non-null   object
 35  Electrical     1437 non-null   object
 36  1stFlrSF       1438 non-null   int64
 37  2ndFlrSF       1438 non-null   int64
 38  GrLivArea      1438 non-null   int64
 39  BsmtFullBath   1438 non-null   int64
 40  BsmtHalfBath   1438 non-null   int64
 41  FullBath       1438 non-null   int64
 42  HalfBath       1438 non-null   int64
 43  BedroomAbvGr   1438 non-null   int64
 44  KitchenAbvGr   1438 non-null   int64
 45  KitchenQual    1438 non-null   object
 46  TotRmsAbvGrd   1438 non-null   int64
 47  Functional     1438 non-null   object
 48  Fireplaces     1438 non-null   int64
 49  FireplaceQu    748 non-null    object
 50  GarageType     1357 non-null   object
 51  GarageYrBlt    1357 non-null   float64
 52  GarageFinish   1357 non-null   object
 53  GarageCars     1438 non-null   int64
 54  GarageArea     1438 non-null   int64
 55  GarageQual     1357 non-null   object
 56  GarageCond     1357 non-null   object
 57  PavedDrive     1438 non-null   object
 58  WoodDeckSF     1438 non-null   int64
 59  OpenPorchSF    1438 non-null   int64
 60  EnclosedPorch  1438 non-null   int64
 61  3SsnPorch      1438 non-null   int64
 62  ScreenPorch    1438 non-null   int64
 63  PoolArea       1438 non-null   int64
 64  PoolQC         6 non-null      object
 65  Fence          279 non-null    object
 66  MiscFeature    54 non-null     object
 67  MoSold         1438 non-null   int64
 68  SaleCondition  1438 non-null   object
 69  SalePrice      1438 non-null   int64
dtypes: float64(3), int64(30), object(37)
memory usage: 786.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1438 entries, 0 to 1437
Data columns (total 69 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   MSSubClass     1438 non-null   int64
 1   MSZoning       1438 non-null   object
 2   LotFrontage    1181 non-null   float64
 3   LotArea        1438 non-null   int64
 4   Alley          91 non-null     object
 5   LotShape       1438 non-null   object
 6   LandContour    1438 non-null   object
 7   LotConfig      1438 non-null   object
 8   LandSlope      1438 non-null   object
 9   Neighborhood   1438 non-null   object
 10  Condition1     1438 non-null   object
 11  BldgType       1438 non-null   object
 12  HouseStyle     1438 non-null   object
 13  OverallQual    1438 non-null   int64
 14  OverallCond    1438 non-null   int64
 15  YearBuilt      1438 non-null   int64
 16  YearRemodAdd   1438 non-null   int64
 17  RoofStyle      1438 non-null   object
 18  Exterior1st    1438 non-null   object
 19  Exterior2nd    1438 non-null   object
 20  MasVnrType     1431 non-null   object
 21  MasVnrArea     1431 non-null   float64
 22  ExterQual      1438 non-null   object
 23  ExterCond      1438 non-null   object
 24  Foundation     1438 non-null   object
 25  BsmtQual       1401 non-null   object
 26  BsmtCond       1401 non-null   object
 27  BsmtExposure   1400 non-null   object
 28  BsmtFinType1   1401 non-null   object
 29  BsmtFinSF1     1438 non-null   int64
 30  BsmtFinType2   1400 non-null   object
 31  BsmtUnfSF      1438 non-null   int64
 32  TotalBsmtSF    1438 non-null   int64
 33  HeatingQC      1438 non-null   object
 34  CentralAir     1438 non-null   object
 35  Electrical     1437 non-null   object
 36  1stFlrSF       1438 non-null   int64
 37  2ndFlrSF       1438 non-null   int64
 38  GrLivArea      1438 non-null   int64
 39  BsmtFullBath   1438 non-null   int64
 40  BsmtHalfBath   1438 non-null   int64
 41  FullBath       1438 non-null   int64
 42  HalfBath       1438 non-null   int64
 43  BedroomAbvGr   1438 non-null   int64
 44  KitchenAbvGr   1438 non-null   int64
 45  KitchenQual    1438 non-null   object
 46  TotRmsAbvGrd   1438 non-null   int64
 47  Functional     1438 non-null   object
 48  Fireplaces     1438 non-null   int64
 49  FireplaceQu    748 non-null    object
 50  GarageType     1357 non-null   object
 51  GarageYrBlt    1357 non-null   float64
 52  GarageFinish   1357 non-null   object
 53  GarageCars     1438 non-null   int64
 54  GarageArea     1438 non-null   int64
 55  GarageQual     1357 non-null   object
 56  GarageCond     1357 non-null   object
 57  PavedDrive     1438 non-null   object
 58  WoodDeckSF     1438 non-null   int64
 59  OpenPorchSF    1438 non-null   int64
 60  EnclosedPorch  1438 non-null   int64
 61  3SsnPorch      1438 non-null   int64
 62  ScreenPorch    1438 non-null   int64
 63  PoolArea       1438 non-null   int64
 64  PoolQC         6 non-null      object
 65  Fence          279 non-null    object
 66  MiscFeature    54 non-null     object
 67  MoSold         1438 non-null   int64
 68  SaleCondition  1438 non-null   object
dtypes: float64(3), int64(29), object(37)
memory usage: 775.3+ KB

In [ ]:
# selecting non-numerical columns
X_cat = X.select_dtypes(exclude="number")
from sklearn.impute import SimpleImputer

# defining the imputer to use "N_A" as replacement value
data_imputer = SimpleImputer(strategy="constant", 
                            fill_value="N_A")

# fitting the imputer
data_imputer.fit(X_cat)

# transforming the data & keeping it as a DataFrame
X_cat_imputed = pd.DataFrame(data_imputer.transform(X_cat), 
                             columns=X_cat.columns)
X_cat_imputed.head()
X_cat_imputed.shape

(1438, 37)

In [ ]:
# Selecting numerical columns
X_num = X.select_dtypes(include="number")

# Imputing the mean
num_imputer = SimpleImputer(strategy="mean")

# Fitting
num_imputer.fit(X_num)

# Transforming, keeping a DataFrame
X_num_imputed = pd.DataFrame(num_imputer.transform(X_num), 
                             columns=X_num.columns)

X_num_imputed.head()

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtUnfSF,...,GarageYrBlt,GarageCars,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MoSold
0,60.0,65.0,8450.0,7.0,5.0,2003.0,2003.0,196.0,706.0,150.0,...,2003.0,2.0,548.0,0.0,61.0,0.0,0.0,0.0,0.0,2.0
1,20.0,80.0,9600.0,6.0,8.0,1976.0,1976.0,0.0,978.0,284.0,...,1976.0,2.0,460.0,298.0,0.0,0.0,0.0,0.0,0.0,5.0
2,60.0,68.0,11250.0,7.0,5.0,2001.0,2002.0,162.0,486.0,434.0,...,2001.0,2.0,608.0,0.0,42.0,0.0,0.0,0.0,0.0,9.0
3,70.0,60.0,9550.0,7.0,5.0,1915.0,1970.0,0.0,216.0,540.0,...,1998.0,3.0,642.0,0.0,35.0,272.0,0.0,0.0,0.0,2.0
4,60.0,84.0,14260.0,8.0,5.0,2000.0,2000.0,350.0,655.0,490.0,...,2000.0,3.0,836.0,192.0,84.0,0.0,0.0,0.0,0.0,12.0

In [ ]:
from sklearn.preprocessing import MinMaxScaler

my_scaler = MinMaxScaler()

X_num_scaledarray = my_scaler.fit_transform(X_num_imputed)
X_num_scaled =pd.DataFrame(X_num_scaledarray,columns=X_num_imputed.columns)

X_num_scaled

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtUnfSF,...,GarageYrBlt,GarageCars,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MoSold
0,0.235294,0.150685,0.033420,0.666667,0.500,0.949275,0.883333,0.122500,0.125089,0.064212,...,0.936364,0.50,0.386460,0.000000,0.111517,0.000000,0.0,0.0,0.0,0.090909
1,0.000000,0.202055,0.038795,0.555556,0.875,0.753623,0.433333,0.000000,0.173281,0.121575,...,0.690909,0.50,0.324401,0.347725,0.000000,0.000000,0.0,0.0,0.0,0.363636
2,0.235294,0.160959,0.046507,0.666667,0.500,0.934783,0.866667,0.101250,0.086109,0.185788,...,0.918182,0.50,0.428773,0.000000,0.076782,0.000000,0.0,0.0,0.0,0.727273
3,0.294118,0.133562,0.038561,0.666667,0.500,0.311594,0.333333,0.000000,0.038271,0.231164,...,0.890909,0.75,0.452750,0.000000,0.063985,0.492754,0.0,0.0,0.0,0.090909
4,0.235294,0.215753,0.060576,0.777778,0.500,0.927536,0.833333,0.218750,0.116052,0.209760,...,0.909091,0.75,0.589563,0.224037,0.153565,0.000000,0.0,0.0,0.0,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1433,0.235294,0.140411,0.030929,0.555556,0.500,0.920290,0.833333,0.000000,0.000000,0.407962,...,0.900000,0.50,0.324401,0.000000,0.073126,0.000000,0.0,0.0,0.0,0.636364
1434,0.000000,0.219178,0.055505,0.555556,0.625,0.768116,0.633333,0.074375,0.139972,0.252140,...,0.709091,0.50,0.352609,0.407235,0.000000,0.000000,0.0,0.0,0.0,0.090909
1435,0.294118,0.154110,0.036187,0.666667,1.000,0.500000,0.933333,0.000000,0.048724,0.375428,...,0.372727,0.25,0.177715,0.000000,0.109689,0.000000,0.0,0.0,0.0,0.363636
1436,0.000000,0.160959,0.039342,0.444444,0.625,0.565217,0.766667,0.000000,0.008682,0.000000,...,0.454545,0.25,0.169252,0.427071,0.000000,0.202899,0.0,0.0,0.0,0.272727
1437,0.000000,0.184932,0.040370,0.444444,0.625,0.673913,0.250000,0.000000,0.147059,0.058219,...,0.590909,0.25,0.194640,0.858810,0.124314,0.000000,0.0,0.0,0.0,0.454545

In [ ]:
# import
from sklearn.preprocessing import OneHotEncoder

# initialize
my_onehot = OneHotEncoder(drop="first")

# fit
my_onehot.fit(X_cat_imputed)

# transform
X_cat_imputed_onehot = my_onehot.transform(X_cat_imputed)

df = pd.DataFrame.sparse.from_spmatrix(X_cat_imputed_onehot)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,186,187,188,189,190,191,192,193,194,195
0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [ ]:
X_cat_imputed
colnames = my_onehot.get_feature_names_out(X_cat_imputed.columns)
df.columns = colnames
df.head()

,MSZoning_FV,MSZoning_RH,MSZoning_RL,MSZoning_RM,Alley_N_A,Alley_Pave,LotShape_IR2,LotShape_IR3,LotShape_Reg,LandContour_HLS,...,Fence_N_A,MiscFeature_N_A,MiscFeature_Othr,MiscFeature_Shed,MiscFeature_TenC,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [ ]:
data_imputed1 = pd.concat([df, X_num_scaled], axis=1)
data_imputed1

data_imputed1.head(3)
data_imputed1.info()

from sklearn.model_selection import train_test_split
X = data_imputed1
y = y

X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=.8, random_state=23)
X_train.head()
y_test#Finished all corrections. Then deletion and regression

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1438 entries, 0 to 1437
Columns: 228 entries, MSZoning_FV to MoSold
dtypes: Sparse[float64, 0](196), float64(32)
memory usage: 911.5 KB

832     133500
315     260000
2       223500
391     123000
559     316600
         ...
678     194700
83      168500
1263    169000
528     111250
390     129000
Name: SalePrice, Length: 288, dtype: int64

In [ ]:
# Decision tree
from sklearn.tree import DecisionTreeRegressor
tree = DecisionTreeRegressor() # initialize
tree.fit(X_train, y_train)

# K Nearest neighbors
from sklearn.neighbors import KNeighborsRegressor
neigh = KNeighborsRegressor(n_neighbors=1) # initialize with parameters
neigh.fit(X_train, y_train) # fit to train set

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:625: UserWarning: pandas.DataFrame with sparse columns found.It will be converted to a dense numpy array.
  "pandas.DataFrame with sparse columns found."
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:625: UserWarning: pandas.DataFrame with sparse columns found.It will be converted to a dense numpy array.
  "pandas.DataFrame with sparse columns found."

KNeighborsRegressor(n_neighbors=1)

In [ ]:
from sklearn.metrics import r2_score

tree_pred = tree.predict(X = X_test) # Decision tree
knn_pred = neigh.predict(X = X_test) # K Nearest neighbors


performances = {}

performances["baseline_tree"]= r2_score(y_test, tree_pred)
performances["baseline_knn"] = r2_score(y_test, knn_pred)#Baseline_knn: bad

performances

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:625: UserWarning: pandas.DataFrame with sparse columns found.It will be converted to a dense numpy array.
  "pandas.DataFrame with sparse columns found."
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:625: UserWarning: pandas.DataFrame with sparse columns found.It will be converted to a dense numpy array.
  "pandas.DataFrame with sparse columns found."

{'baseline_knn': 0.6640289692642187, 'baseline_tree': 0.7686933270985213}

In [ ]:
import seaborn as sn
import matplotlib.pyplot as plt

# X_train.drop(columns=["feature_27", "feature_28"], inplace=True)
#fig, ax = plt.subplots(figsize=(18,18))
corrMatrix = X_train.corr().abs()
#sn.heatmap(corrMatrix, annot=True);

# Select upper triangle of correlation matrix# Droping fea
upper = corrMatrix.where(np.triu(np.ones(corrMatrix.shape), k=1).astype(bool))

# Find index of feature columns with correlation greater than 0.95
to_drop = [column for column in upper.columns if any(upper[column] > 0.95)]
to_drop

['Exterior2nd_CmentBd',
 'Exterior2nd_MetalSd',
 'Exterior2nd_VinylSd',
 'BsmtCond_N_A',
 'BsmtExposure_N_A',
 'BsmtFinType1_N_A',
 'BsmtFinType2_N_A',
 'GarageFinish_N_A',
 'GarageQual_N_A',
 'GarageCond_N_A',
 'PoolArea']

In [ ]:
# drop cols train set
X_train_selected = X_train.drop(columns=to_drop, )

# drop cols test set
X_test_selected = X_test.drop(columns=to_drop)

In [ ]:
# Decision tree
tree = DecisionTreeRegressor() # initialize
tree.fit(X_train_selected, y_train)
tree_pred = tree.predict(X = X_test_selected)

# K Nearest neighbors
neigh = KNeighborsRegressor(n_neighbors=1) # initialize with parameters
neigh.fit(X_train_selected, y_train) # fit to train set
knn_pred = neigh.predict(X = X_test_selected)

performances["collinearity_tree"]= r2_score(y_test, tree_pred)
performances["collinearity_knn"] = r2_score(y_test, knn_pred)

performances

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:625: UserWarning: pandas.DataFrame with sparse columns found.It will be converted to a dense numpy array.
  "pandas.DataFrame with sparse columns found."
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:625: UserWarning: pandas.DataFrame with sparse columns found.It will be converted to a dense numpy array.
  "pandas.DataFrame with sparse columns found."
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:625: UserWarning: pandas.DataFrame with sparse columns found.It will be converted to a dense numpy array.
  "pandas.DataFrame with sparse columns found."
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:625: UserWarning: pandas.DataFrame with sparse columns found.It will be converted to a dense numpy array.
  "pandas.DataFrame with sparse columns found."

{'baseline_knn': 0.6640289692642187,
 'baseline_tree': 0.7686933270985213,
 'collinearity_knn': 0.6653866038307046,
 'collinearity_tree': 0.7396335248832193}

In [ ]:
#ANOVA, CHI2 !!!
from sklearn.feature_selection import SelectKBest, f_regression#F_regression for regression, should be imported

KBest = SelectKBest(score_func=f_regression, k=19)#K - how many features to select. My choice. 19 is the best, but not better than the baseline

# transform train set
train_X_KBest = KBest.fit_transform(X_train, y_train)

# transform test set
test_X_KBest = KBest.transform(X_test)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:625: UserWarning: pandas.DataFrame with sparse columns found.It will be converted to a dense numpy array.
  "pandas.DataFrame with sparse columns found."
/usr/local/lib/python3.7/dist-packages/sklearn/feature_selection/_univariate_selection.py:289: RuntimeWarning: invalid value encountered in true_divide
  correlation_coefficient /= X_norms
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:625: UserWarning: pandas.DataFrame with sparse columns found.It will be converted to a dense numpy array.
  "pandas.DataFrame with sparse columns found."
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:625: UserWarning: pandas.DataFrame with sparse columns found.It will be converted to a dense numpy array.
  "pandas.DataFrame with sparse columns found."

In [ ]:
train_X_KBest.shape

(1150, 19)

In [ ]:
# Decision tree
tree = DecisionTreeRegressor() # initialize
tree.fit(train_X_KBest, y_train)
tree_pred = tree.predict(X = test_X_KBest)

# K Nearest neighbors
neigh = KNeighborsRegressor(n_neighbors=1) # initialize with parameters
neigh.fit(train_X_KBest, y_train) # fit to train set
knn_pred = neigh.predict(X = test_X_KBest)

performances["KBest_tree"]= r2_score(y_test, tree_pred)
performances["KBest_knn"] = r2_score(y_test, knn_pred)

performances

{'KBest_knn': 0.6479320355832732,
 'KBest_tree': 0.725344309044196,
 'baseline_knn': 0.6640289692642187,
 'baseline_tree': 0.7686933270985213,
 'collinearity_knn': 0.6653866038307046,
 'collinearity_tree': 0.7396335248832193}

In [ ]:
#RFE
from sklearn.ensemble import RandomForestRegressor
from sklearn.feature_selection import RFECV

In [ ]:
RFE_selector = RFECV(RandomForestRegressor())

In [ ]:
RFE_selector_tree = RFECV(DecisionTreeRegressor())
RFE_selector_knn = RFECV(KNeighborsRegressor())

In [ ]:
# Decision tree
RFE_selector_tree.fit(train_X_KBest, y_train)
tree_pred = RFE_selector_tree.predict(X = test_X_KBest)

performances["RFE_tree"]= r2_score(y_test, tree_pred)

performances

{'KBest_knn': 0.6479320355832732,
 'KBest_tree': 0.725344309044196,
 'RFE_tree': 0.7360447733810582,
 'baseline_knn': 0.6640289692642187,
 'baseline_tree': 0.7686933270985213,
 'collinearity_knn': 0.6653866038307046,
 'collinearity_tree': 0.7396335248832193}

In [ ]:
from sklearn.feature_selection import SelectFromModel

select_model_tree = SelectFromModel(DecisionTreeRegressor(), threshold=None)

train_X_selected_model_tree = select_model_tree.fit_transform(X_train, y_train)

test_X_selected_model_tree = select_model_tree.transform(X_test)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:625: UserWarning: pandas.DataFrame with sparse columns found.It will be converted to a dense numpy array.
  "pandas.DataFrame with sparse columns found."
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:625: UserWarning: pandas.DataFrame with sparse columns found.It will be converted to a dense numpy array.
  "pandas.DataFrame with sparse columns found."
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:625: UserWarning: pandas.DataFrame with sparse columns found.It will be converted to a dense numpy array.
  "pandas.DataFrame with sparse columns found."

In [ ]:
train_X_selected_model_tree.shape

(1150, 15)

In [ ]:
# Decision tree
tree = DecisionTreeRegressor() # initialize
tree.fit(train_X_selected_model_tree, y_train)
tree_pred = tree.predict(X = test_X_selected_model_tree)
#tree_pred1=tree.predict(X=datatest_imputed1)


# K Nearest neighbors
neigh = KNeighborsRegressor(n_neighbors=1) # initialize with parameters
neigh.fit(train_X_selected_model_tree, y_train) # fit to train set
knn_pred = neigh.predict(X = test_X_selected_model_tree)

performances["model_selected_tree"]= r2_score(y_test, tree_pred)
performances["model_selected_knn"] = r2_score(y_test, knn_pred)

performances

{'KBest_knn': 0.6479320355832732,
 'KBest_tree': 0.725344309044196,
 'RFE_tree': 0.7360447733810582,
 'baseline_knn': 0.6640289692642187,
 'baseline_tree': 0.7686933270985213,
 'collinearity_knn': 0.6653866038307046,
 'collinearity_tree': 0.7396335248832193,
 'model_selected_knn': 0.7059589326824696,
 'model_selected_tree': 0.7366409766960202}

In [ ]:
tree_pred
results = pd.DataFrame({'predictions':tree_pred,'true_values': y_test})
results.head() 
results.shape

(288, 2)

In [ ]:
mse_pre = (results
               .assign(diff = lambda x: (x.true_values - x.predictions)**2)
               .agg({'diff':{'sum','count'}}))
mse_pre.head()

               diff
sum    3.568797e+11
count  2.880000e+02

In [ ]:
rmse = (mse_pre.loc['sum'] / mse_pre.loc['count'])**0.5
rmse

diff    35201.783948
dtype: float64

In [ ]:
import pandas as pd
# reading
url = "https://drive.google.com/file/d/1Yl3etQ4V6qfzE2dU5y1LbG8S9lU8BTg8/view?usp=sharing"#Earlier 5 red columns were deleted
path = 'https://drive.google.com/uc?export=download&id='+url.split('/')[-2]
testdata =  pd.read_csv(path)
testdata.shape
testdata.drop(['Id','Condition2','SaleType','Heating','RoofMatl','Street'],inplace=True,axis=1)#Totally 11 columns, 22 rows are removed
testdata.info()
type(testdata)
testdata.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 69 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   MSSubClass     1459 non-null   int64
 1   MSZoning       1455 non-null   object
 2   LotFrontage    1232 non-null   float64
 3   LotArea        1459 non-null   int64
 4   Alley          107 non-null    object
 5   LotShape       1459 non-null   object
 6   LandContour    1459 non-null   object
 7   LotConfig      1459 non-null   object
 8   LandSlope      1459 non-null   object
 9   Neighborhood   1459 non-null   object
 10  Condition1     1459 non-null   object
 11  BldgType       1459 non-null   object
 12  HouseStyle     1459 non-null   object
 13  OverallQual    1459 non-null   int64
 14  OverallCond    1459 non-null   int64
 15  YearBuilt      1459 non-null   int64
 16  YearRemodAdd   1459 non-null   int64
 17  RoofStyle      1459 non-null   object
 18  Exterior1st    1458 non-null   object
 19  Exterior2nd    1458 non-null   object
 20  MasVnrType     1443 non-null   object
 21  MasVnrArea     1444 non-null   float64
 22  ExterQual      1459 non-null   object
 23  ExterCond      1459 non-null   object
 24  Foundation     1459 non-null   object
 25  BsmtQual       1415 non-null   object
 26  BsmtCond       1414 non-null   object
 27  BsmtExposure   1415 non-null   object
 28  BsmtFinType1   1417 non-null   object
 29  BsmtFinSF1     1458 non-null   float64
 30  BsmtFinType2   1417 non-null   object
 31  BsmtUnfSF      1458 non-null   float64
 32  TotalBsmtSF    1458 non-null   float64
 33  HeatingQC      1459 non-null   object
 34  CentralAir     1459 non-null   object
 35  Electrical     1459 non-null   object
 36  1stFlrSF       1459 non-null   int64
 37  2ndFlrSF       1459 non-null   int64
 38  GrLivArea      1459 non-null   int64
 39  BsmtFullBath   1457 non-null   float64
 40  BsmtHalfBath   1457 non-null   float64
 41  FullBath       1459 non-null   int64
 42  HalfBath       1459 non-null   int64
 43  BedroomAbvGr   1459 non-null   int64
 44  KitchenAbvGr   1459 non-null   int64
 45  KitchenQual    1458 non-null   object
 46  TotRmsAbvGrd   1459 non-null   int64
 47  Functional     1457 non-null   object
 48  Fireplaces     1459 non-null   int64
 49  FireplaceQu    729 non-null    object
 50  GarageType     1383 non-null   object
 51  GarageYrBlt    1381 non-null   float64
 52  GarageFinish   1381 non-null   object
 53  GarageCars     1458 non-null   float64
 54  GarageArea     1458 non-null   float64
 55  GarageQual     1381 non-null   object
 56  GarageCond     1381 non-null   object
 57  PavedDrive     1459 non-null   object
 58  WoodDeckSF     1459 non-null   int64
 59  OpenPorchSF    1459 non-null   int64
 60  EnclosedPorch  1459 non-null   int64
 61  3SsnPorch      1459 non-null   int64
 62  ScreenPorch    1459 non-null   int64
 63  PoolArea       1459 non-null   int64
 64  PoolQC         3 non-null      object
 65  Fence          290 non-null    object
 66  MiscFeature    51 non-null     object
 67  MoSold         1459 non-null   int64
 68  SaleCondition  1459 non-null   object
dtypes: float64(10), int64(22), object(37)
memory usage: 786.6+ KB

(1459, 69)

In [ ]:
# selecting non-numerical columns
datatest_cat = testdata.select_dtypes(exclude="number")
from sklearn.impute import SimpleImputer

# defining the imputer to use "N_A" as replacement value
data_imputer = SimpleImputer(strategy="constant", 
                            fill_value="N_A")

# fitting the imputer
data_imputer.fit(datatest_cat)

# transforming the data & keeping it as a DataFrame
datatest_cat_imputed = pd.DataFrame(data_imputer.transform(datatest_cat), 
                             columns=datatest_cat.columns)
datatest_cat_imputed.head()
datatest_cat_imputed.shape

(1459, 37)

In [ ]:
# Selecting numerical columns
datatest_num = testdata.select_dtypes(include="number")

# Imputing the mean
num_imputer = SimpleImputer(strategy="mean")

# Fitting
num_imputer.fit(datatest_num)

# Transforming, keeping a DataFrame
datatest_num_imputed = pd.DataFrame(num_imputer.transform(datatest_num), 
                             columns=datatest_num.columns)

datatest_num_imputed.head()

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtUnfSF,...,GarageYrBlt,GarageCars,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MoSold
0,20.0,80.0,11622.0,5.0,6.0,1961.0,1961.0,0.0,468.0,270.0,...,1961.0,1.0,730.0,140.0,0.0,0.0,0.0,120.0,0.0,6.0
1,20.0,81.0,14267.0,6.0,6.0,1958.0,1958.0,108.0,923.0,406.0,...,1958.0,1.0,312.0,393.0,36.0,0.0,0.0,0.0,0.0,6.0
2,60.0,74.0,13830.0,5.0,5.0,1997.0,1998.0,0.0,791.0,137.0,...,1997.0,2.0,482.0,212.0,34.0,0.0,0.0,0.0,0.0,3.0
3,60.0,78.0,9978.0,6.0,6.0,1998.0,1998.0,20.0,602.0,324.0,...,1998.0,2.0,470.0,360.0,36.0,0.0,0.0,0.0,0.0,6.0
4,120.0,43.0,5005.0,8.0,5.0,1992.0,1992.0,0.0,263.0,1017.0,...,1992.0,2.0,506.0,0.0,82.0,0.0,0.0,144.0,0.0,1.0

In [ ]:
from sklearn.preprocessing import MinMaxScaler

my_scaler = MinMaxScaler()

data_num_scaledarray1 = my_scaler.fit_transform(datatest_num_imputed)
datatest_num_scaled =pd.DataFrame(data_num_scaledarray1,columns=datatest_num_imputed.columns)

datatest_num_scaled

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtUnfSF,...,GarageYrBlt,GarageCars,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MoSold
0,0.000000,0.329609,0.184147,0.444444,0.625,0.625954,0.183333,0.000000,0.116708,0.126168,...,0.211538,0.2,0.490591,0.098315,0.000000,0.0,0.0,0.208333,0.0,0.454545
1,0.000000,0.335196,0.232124,0.555556,0.625,0.603053,0.133333,0.083721,0.230175,0.189720,...,0.201923,0.2,0.209677,0.275983,0.048518,0.0,0.0,0.000000,0.0,0.454545
2,0.235294,0.296089,0.224197,0.444444,0.500,0.900763,0.800000,0.000000,0.197257,0.064019,...,0.326923,0.4,0.323925,0.148876,0.045822,0.0,0.0,0.000000,0.0,0.181818
3,0.235294,0.318436,0.154326,0.555556,0.625,0.908397,0.800000,0.015504,0.150125,0.151402,...,0.330128,0.4,0.315860,0.252809,0.048518,0.0,0.0,0.000000,0.0,0.454545
4,0.588235,0.122905,0.064121,0.777778,0.500,0.862595,0.700000,0.000000,0.065586,0.475234,...,0.310897,0.4,0.340054,0.000000,0.110512,0.0,0.0,0.250000,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,0.823529,0.000000,0.008453,0.333333,0.750,0.694656,0.333333,0.000000,0.000000,0.255140,...,0.265132,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.454545
1455,0.823529,0.000000,0.007691,0.333333,0.500,0.694656,0.333333,0.000000,0.062843,0.137383,...,0.240385,0.2,0.192204,0.000000,0.032345,0.0,0.0,0.000000,0.0,0.272727
1456,0.000000,0.776536,0.336115,0.444444,0.750,0.618321,0.766667,0.000000,0.305237,0.000000,...,0.208333,0.4,0.387097,0.332865,0.000000,0.0,0.0,0.000000,0.0,0.727273
1457,0.382353,0.229050,0.162724,0.444444,0.500,0.862595,0.700000,0.000000,0.084040,0.268692,...,0.265132,0.0,0.000000,0.056180,0.043127,0.0,0.0,0.000000,0.0,0.545455
1458,0.235294,0.296089,0.147959,0.666667,0.500,0.870229,0.733333,0.072868,0.189027,0.111215,...,0.314103,0.6,0.436828,0.133427,0.064690,0.0,0.0,0.000000,0.0,0.909091

In [ ]:
# Concatenating all columns
datatest_imputed = pd.concat([datatest_cat_imputed, datatest_num_scaled], axis=1)

datatest_imputed.head()

,MSZoning,Alley,LotShape,LandContour,LotConfig,LandSlope,Neighborhood,Condition1,BldgType,HouseStyle,...,GarageYrBlt,GarageCars,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MoSold
0,RH,N_A,Reg,Lvl,Inside,Gtl,NAmes,Feedr,1Fam,1Story,...,0.211538,0.2,0.490591,0.098315,0.000000,0.0,0.0,0.208333,0.0,0.454545
1,RL,N_A,IR1,Lvl,Corner,Gtl,NAmes,Norm,1Fam,1Story,...,0.201923,0.2,0.209677,0.275983,0.048518,0.0,0.0,0.000000,0.0,0.454545
2,RL,N_A,IR1,Lvl,Inside,Gtl,Gilbert,Norm,1Fam,2Story,...,0.326923,0.4,0.323925,0.148876,0.045822,0.0,0.0,0.000000,0.0,0.181818
3,RL,N_A,IR1,Lvl,Inside,Gtl,Gilbert,Norm,1Fam,2Story,...,0.330128,0.4,0.315860,0.252809,0.048518,0.0,0.0,0.000000,0.0,0.454545
4,RL,N_A,IR1,HLS,Inside,Gtl,StoneBr,Norm,TwnhsE,1Story,...,0.310897,0.4,0.340054,0.000000,0.110512,0.0,0.0,0.250000,0.0,0.000000

In [ ]:
# import
from sklearn.preprocessing import OneHotEncoder

# initialize
my_onehot = OneHotEncoder(drop="first")

# fit
my_onehot.fit(datatest_cat_imputed)

# transform
datatest_cat_imputed_onehot = my_onehot.transform(datatest_cat_imputed)

In [ ]:
datatest_cat_imputed_onehot
df1 = pd.DataFrame.sparse.from_spmatrix(datatest_cat_imputed_onehot)
df1.head()

,0,1,2,3,4,5,6,7,8,9,...,182,183,184,185,186,187,188,189,190,191
0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [ ]:
datatest_imputed1 = pd.concat([df1, datatest_num_scaled], axis=1)
datatest_imputed1

datatest_imputed1.head(3)
datatest_imputed1.info()

datatest_imputed1['a']=0#This should be normally corrected, if I would like
datatest_imputed1['b']=0#This should be normally corrected, if I would like
datatest_imputed1['c']=0#This should be normally corrected, if I would like
datatest_imputed1['d']=0#This should be normally corrected, if I would like
datatest_imputed1.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Columns: 224 entries, 0 to MoSold
dtypes: Sparse[float64, 0](192), float64(32)
memory usage: 922.2 KB

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  if __name__ == '__main__':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  # Remove the CWD from sys.path while we load stuff.

(1459, 228)

In [ ]:
#from sklearn.feature_selection import SelectFromModel

#select_model_tree = SelectFromModel(DecisionTreeRegressor(), threshold=None)

#train_X_selected_model_tree = select_model_tree.fit_transform(X_train, y_train)

#test_X_selected_model_tree = select_model_tree.transform(datatest_imputed1)

In [ ]:
# Decision tree
#tree = DecisionTreeRegressor() # initialize
#tree.fit(train_X_selected_model_tree, y_train)
#tree_pred = tree.predict(X = datatest_imputed1)

In [ ]:
from sklearn import  linear_model
from sklearn.metrics import mean_squared_error, r2_score
# Create linear regression object
regr = linear_model.LinearRegression()
# Train the model using the training sets
regr.fit(X_train, y_train)
# Make predictions using the testing set
y_pred = regr.predict(datatest_imputed1)
y_pred
pd.options.display.float_format = '{:.2f}'.format
resultsfake = pd.DataFrame({'predictions':y_pred})
resultsfake

               predictions
0    388084774344741248.00
1    390334237430961600.00
2    144051623899111456.00
3    390970263215004416.00
4     75038316946479424.00
...                    ...
1454 397425704626683264.00
1455 325885830080301248.00
1456 390970263214786560.00
1457 155073076253438880.00
1458  87054716361300992.00

[1459 rows x 1 columns]